ul a{
  color: white;
  text-decoration: none;
}
nav{
  height: 75px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.middle{
  margin-top: 10px;
}

.navbar{
  height: 75px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(45deg,rgb(237, 144, 23),rgb(131, 21, 210));
}
nav ul,.navbar ul{
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: space-around;
  color: white;
  font-family: 'Courier New', Courier, monospace;
}
.loginForm,.forgot-password,.reset-password{
  width: 100%;
  height: 100vh;
  margin-top: -20px;
  background-image: linear-gradient(-45deg,rgb(8, 222, 251), rgb(5, 5, 190),rgb(8, 222, 251));
  /* background-image: linear-gradient(-45deg,purple,orange,purple); */
  display: flex;
  justify-content: center;
  align-items: center;
}
.log{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  width: 50%;
  height: 400px;
  background-color: rgb(0, 0, 0,0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  border-left:1px solid rgb(255, 255, 255,0.5);
  border-bottom: 1px solid rgb(255, 255, 255,0.5);
}
.log input{
  width: 80%;
  margin: 3px;
  padding: 10px;
  font-size: larger;
  color: black;
}
.log .logSub{
  margin-top: 15px;
  font-weight: 600;
  width: 84%;
  background-color: aqua;
  cursor: pointer;
}

.log img{
  height: 25px;
  width: 25px;
}
.restaurants{
  max-width: 200px;
  max-height: 300px;
  display: flex;
  align-content: flex-start;
  flex-direction: column;
  transition: 0.3s;
  cursor: pointer;
  margin: 30px;
}
.restaurants:hover{
  scale: 0.9;
}
.restaurants .rest_pic{
  max-width: 200px;
  height: 112px;
  border-radius: 12px;
}
.restaurants .name{
  font-weight: 600;
  font-size: larger;
}
.restaurants div{
  padding: 5px;
}

.rest_list{
  display: flex;
  /* grid-template-columns: auto auto auto; */
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.customer{
  padding: 10px;
  margin: 20px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.customer div h1{
  margin-top: 50px;
}

.menu{
  padding: 10px;
  margin: 20px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: relative;
}
.menu span{
  font-size: larger;
  font-weight: 700;
}
.wishlist {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 500px;
  width: 80%;
  z-index: 100;
  background-color: rgba(6, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 10%;
  color: white;
  padding: 10px;
  border-radius: 12px;
}

.payButton {
  margin-top: auto;
  width: 100%;
  text-align: center;
  padding: 10px 0 10px 0;
  background-color: #28a745;
  color: white;
  font-size: 18px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  user-select: none;
}

.payButton:hover {
  background-color: #218838;
}

.wishitem{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  height: auto;
  padding: 10px;
  margin: 20px;
}
.wishitem_count{
  display: flex;
  justify-content: space-around;
  width: 100px;
}

.wishitem_desc{
  width: 50%;
}

.increment_count{
  background-color: green;
  width: 28px;
  padding-left: 10px;
  border-radius: 50%;
  cursor: pointer;
  user-select: none;
}
.decrement_count{
  background-color: red;
  width: 28px;
  padding-left: 10px;
  border-radius: 50%;
  cursor: pointer;
  user-select: none;
}
.items{
  margin-top: 50px;
  z-index: 99;
}
.item{
  max-width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  border-bottom: 1px solid black;
}
.properties{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
  width: 75%;
}
.properties div{
  padding: 5px;
  font-size: smaller;
}
.properties .name{
  font-size: large;
  font-weight: 500;
}
.add_food {
  position: relative;
  display: inline-block; 
}

.add_food img {
  width: 125px;
  height: 125px;
  border-radius: 12px;
  position: relative; 
  z-index: 1; 
}

.add {
  background-image: linear-gradient(-45deg,blue,blue,blue);
  color: white; 
  height: 25px;
  width: 75px;
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 90px;
  transform: translateX(-50%); 
  text-align: center;
  line-height: 25px; 
  border-radius: 5px; 
  cursor: pointer;
  user-select: none;
}

.hide{
  visibility: hidden;
  display: block;
}

.customer h1{
  margin: 10px 0 10px 0;
}